<template>
  <div class="add">
    <input v-model="newTask" type="text" placeholder="nueva tarea" />
    <button @click="onAdd">Agregar</button>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'Add',
  data: () => ({
    newTask: '',
  }),
  methods: {
    ...mapActions(['addNewTaskToDB']),
    async onAdd() {
      this.addNewTaskToDB({ taskData: { name: this.newTask } })
      this.newTask = ''
      this.$router.push({ name: 'list' })
    },
  },
}
</script>
