<template>
  <div class="list">
    <ul>
      <li v-for="task in tasks" :key="task.id">{{ task.data.name }}</li>
    </ul>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'list',
  computed: {
    ...mapState({
      tasks: state => state.tasks,
    }),
  },
  created() {
    this.fetchTasks()
  },
  methods: {
    ...mapActions(['fetchTasks']),
  },
}
</script>
