<template>
  <div>
    <div v-if="loggedIn"><button @click="onLogout">Cerrar Sesión</button></div>
    <div v-else>
      <input v-model="email" type="email" placeholder="Ingrese email" />
      <input v-model="password" type="password" placeholder="Ingrese password" />
      <button @click="onLogin">Ingresar</button>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'user',
  data: () => ({
    email: '',
    password: '',
  }),
  computed: {
    ...mapGetters(['loggedIn']),
  },
  methods: {
    ...mapActions(['login', 'logout']),
    async onLogin() {
      await this.login({ email: this.email, password: this.password })
      this.email = ''
      this.password = ''
      this.$router.push({ name: 'list' })
    },
    onLogout() {
      this.email = ''
      this.password = ''
      this.logout()
    },
  },
}
</script>
