<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Lista</router-link>
      <router-link to="/add">Agregar Task</router-link>
      <router-link to="/user">Usuario</router-link>
    </div>
    <keep-alive> <router-view /> </keep-alive>
  </div>
</template>
